/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 2rem;
    }

    .siteMap {
        margin-bottom: 22px;
    }

    .siteMap a {
        padding-bottom: 0px;
    }

