@import url('https://fonts.googleapis.com/css?family=Bellefair|Lato');
/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  

body {
    margin: 0;
    padding: 0;
    background-color: #e8ebf4;
    font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
    color: #2f2f2f;
    border: black 1px solid;
}

header,
footer {
    margin: 0;
    padding: 0;
    /*background-color: #284e57;*/
    background-color: #2567ba;
    color: #e5ecf5;
    border-bottom: black 1px solid;
}

.footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #e5ecf5;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 3px;
}

main {
    margin: 0;
    padding: 0;
    background-color: #e8ebf4;

}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: -5px;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 1.7815rem;
    padding-bottom: 1px;
    line-height: 1.75;
}

h3 {
    font-size: 2.4rem;
    margin-top: 1.25rem;
}

nav,
footer {
    border: black 1px solid;
    border-top: black 1px solid;
}

nav ul {
    padding: 5px;
}

nav button {
    height: 6em;
    width: 9em;
    background-color: #8EB8CC;
    margin: auto;
}

p {
    font-family: 'Bellefair', serif;
    text-align: center;
    text-justify: left;
    columns: 1;
    width: 75ch;
    padding: 0;
    font-size: 1.525rem;
    padding-bottom: .5rem;
    padding-top: .1355rem;
    width: auto;
}

#wrapper {
    width: 60%;
    margin: auto;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #2567ba;
    color: #e5ecf5;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    /* 0.2 second transition effect to slide in the sidenav */
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    border-top: black 1px solid;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #e5ecf5;
    display: block;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    margin: 0;
    font-size: 2.5rem;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #ba7825;
    padding: 8px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3.25rem;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;

}
.mainContent .content{
    width: 50%;
    text-align: justify;
    margin: 0 auto;
    text-indent: 2rem;
    max-width: 75ch;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.container {
    display: inline-block;
    cursor: pointer;
    padding: 1em;
    color: #ba7825
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
.bar1:hover,
.bar2:hover,
.bar3:hover{
color: #ba7825;
}
.hamburger{
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hamburger:hover{
    color: #ba7825;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

a {
    cursor: pointer;
}

#brandName {
    display: absolute;
    left: 50%;
    margin-top: -.75em;
    padding-bottom: 0;
    margin-bottom: -.75rem;
}

.contactButton {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: black;
    background-color: #e8ebf4;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    margin-bottom: 15px;
    border: black 1px solid;
}

.siteMap {
    color:  #e5ecf5;
    position: sticky;
    text-align: justify;
    text-justify: inter-word;
    background-color: #2567ba;
    padding-bottom: 20px;
    margin-top: 5px;
    column-count: 3;
    padding-bottom: 30px;
    
}


@media only screen and (max-width: 768px) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        /*Loads system fonts on smaller devices, assuming lower bandwidth */
    }

    .content {
        width: 92%;
        margin: auto;
        max-width: 75ch;
    }

    h1 {
        font-size: 5rem;
        line-height: 70px;
        padding-left: 0px;
    }

    h2 {
        font-size: 1.2725rem;
        margin-bottom: 7px;
        margin-top: 0;
    }

    button {
        display: block;
        width: 100%;
        padding: 2%;

    }

    main {
        width: 95%;
        margin: auto;
    }

    h3 {
        font-size: 1.9rem;
        margin-top: 1rem;
    }

    p {
        font-family: 'Bellefair', serif;
        text-justify: inter-word;
        width: 75ch;
        margin: 0 0 0 1em;
        padding: 0;
        font-size: 1.525rem;
        padding-bottom: .5rem;
        padding-top: .1355rem;
        width: auto;
    }
    #brandName {
        display: absolute;
        left: 50%;
        margin-top: -.75em;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 420px) {
    h1 {
        font-size: 5rem;
        line-height: 70px;
        padding-left: 20px;
    }

    h2 {
        font-size: 1.2725rem;
        margin-bottom: 7px;
    }

    .siteMap {
        color:  #e5ecf5;
        position: sticky;
        text-align: justify;
        text-justify: inter-word;
        background-color: #2567ba;
        margin-top: 5px;
        column-count: 3;
        padding-bottom: 45px;
        padding-top: 10px;
    }

    .siteMap a {
        margin: 10px 20px 10px 20px;
        padding: 10px;
    }
    p{
        width: 90%;
        text-align: justify;
        text-justify: left;
    }
    .mainContent .content{
        width: 95%;
        text-align: justify;
        margin: 0 auto;
        text-indent: 2rem;
    }
}

footer img {
    width: 48px;
    height: 48px;
    margin: 5px;
}

.icon-twitter {
    font-size: 2em;
}

.icon {
    font-size: 1.5rem;
    margin-left: 1.25rem;
    color: #e5ecf5;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
.icon:hover{
    color: #ba7825;
}

.navigationText {
    padding-left: 1.3625rem;
}

.contentDivider {
    border: #e5ecf5 solid 1px;
}

.contenthr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media only screen and (min-width: 1130px) {

    .servicesLink,
    .aboutLink,
    .portfolioLink {
        padding: 10px;
        display: inline;
        position: absolute;
        margin-right: 8px;
        top: 0;
        right: 0;
        color: #e5ecf5;
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        font-size: 1.25rem;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;

    }

    .servicesLink {
        margin-right: 8px;
    }

    .aboutLink {
        margin-right: 120px;
    }

    .portfolioLink {
        margin-right: 208px;
    }

    .servicesLink:hover,
    .aboutLink:hover,
    .portfolioLink:hover {
        color: #ba7825;
    }

}

@media only screen and (max-width: 1130px) {
    .portfolioLink {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .aboutLink {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .servicesLink {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }


}
a {
    text-decoration: none;
    color: #e5ecf5;
}
.mainContent{
    columns: 1;
    column-gap: 40px;
}

